div.photo-block {
  text-align: center;
  border: 1px solid gray;
  border-radius: 5%;
}
div.photo-title {
  font-size: 140%;
  font-family: Arial;
  text-decoration: underline;
}
div.photo-score {
  font-family: 130%;
  font-family: monospace;
}
img.photo-image {
  max-height: 200px;
  width: auto;
}
img.photo-user-avatar {
  max-width: 25px;
  height: auto;
  border-radius: 50%;
}
 
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4{
  margin-bottom: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

body.dark {
  background-color: #313539;
  color: #eeeeee;
}
.gallery-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
img.photo-image {
  width: 100%;
  height: auto;
}
input,
select {
  background-color: #666666;
  border-color: #999999;
  color: white;
}
.input-group > label {
  display: inline-block;
  width: 200px;
  text-align: right;
}
.input-group {
  margin-bottom: 0.5em;
}
div.title-block {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #333333;
}
#title {
  font-size: 300%;
  text-decoration: none;
  color: #bbbbbb;
  font-family: sans-serif;
  margin-bottom: 0;
}
#subtitle {
  font-size: 120%;
  font-style: italic;
  color: #bbbbbb;
  font-family: monospace;
}
div.navigation > a {
  color: white;
  font-size: 120%;
  background-color: #555555;
  font-family: monospace;
  text-decoration: none;
  display: inline-block;
  min-width: 150px;
}
